        <table align="center">
            <tr>
                <td><h4><a href="/crear">CREAR CURSO</a></h4>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4><a href="/ver">VER CURSOS</a></h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4><a href="/inscribirse">INSCRIBIRSE</a></h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4><a href="/inscripciones">VER INSCRITOS</a></h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4><a href="/eliminar">ELIMINAR INSCRITOS</a></h4></td>
            </tr>
        </table>